.editor {
    text-align: center;
    overflow: hidden;


    &__title {
        font-weight: 700;
        font-size: 26px;
        line-height: 28px;
        color: #635C73;
        text-transform: uppercase;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-top: 27px;
    }

    &__statistics {
        margin-top: 36px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px 10px;
    }

    &__statistic-item {
        display: flex;
        border: 1px solid black;
        border-radius: 3px;
        overflow: hidden;

    }

    &__statistic-item-button {
        font-size: 14px;
        display: inline-flex;
        background-color: #f1f1f1;
        text-decoration: none;
        color: #323232;
        font-weight: 700;
        padding: 4px 9px;
        border-right: 1px solid rgb(168, 168, 168);

        svg {
            width: 16px;
            height: 15px;
            margin-right: 4px;
        }
    }

    &__statistic-item-numbers {
        font-size: 14px;
        color: #000;
        font-weight: 700;
        padding: 4px 9px;
    }

    @media (min-width: 481px) {
        &__title {
            font-size: 42px;
            line-height: 42px;
        }

        &__text {
            font-size: 21px;
            line-height: 32px;
        }
    }

    @media (min-width: 993px) {
        &__title {
            font-size: 54px;
            line-height: 54px;
        }

        &__text {
            font-size: 21px;
            line-height: 32px;
        }

        &__header {
            max-width: 906px;
            margin: 0 auto;
        }
    }
}


.features {
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;

    &__title {
        margin-top: 120px;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: rgba(141, 129, 172, 1);

    }

    &__item-img {
        margin-top: 36px;

    }

    &__item-content h2 {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #323232;
        margin: 27px 0 14px 0;
    }

    &__item-content {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #848E97;
        margin-bottom: 64px;

    }

    @media (min-width: 481px) {


        &__title {
            font-size: 42px;
            line-height: 44px;
        }

        &__item {
            display: flex;
            text-align: start;
        }

        &__item-img {
            max-width: 200px;
            width: 100%;
        }

        &__item-content h2 {
            font-size: 16px;
            line-height: 21px;
        }

        &__item-content p {
            font-size: 14px;
            line-height: 21px;
        }
    }

    @media (min-width: 993px) {
        &__item-img {
            max-width: 150px;
            width: 100%;
        }

        &__item {
            max-width: 536px;
        }


        &__title {
            grid-area: title;
            margin-top: 0;
        }

        &__list {
            grid-area: item;

        }

        .editor-img {
            grid-area: img;
        }

        margin-top: 70px;
        background-color: #F4F4F4;
        padding-left: 73px;
        display: grid;
        grid-template-areas: "item  title"
        "item  img";



    }
}

.editor-img {
    position: relative;
    width: 100%;
    left: 56px;
}