.Subscription {
    padding-bottom: 96px;
    text-align: center;
    background-color: #4b3b4e;
    padding-top: 4px;

    &__title {
        font-size: 28px;
        line-height: 42px;
        color: #ffff;
        margin-top: 10px;
        margin-bottom: 32px;

    }

    &__list {
        display: grid;
        row-gap: 18px;
        justify-items: center;
        text-transform: uppercase;
    }

    &__list-item {
        color: #ffff;
        background-color: rgba(255, 255, 255, 0.11);
        width: 100%;
        max-width: 257px;
        height: 457px;
    }

    &__list-item:nth-child(3) {
        max-width: 299px !important;
        height: 560px;
        background: rgba(46, 30, 48, 0.84);

        span {
            font-size: 82px;
            line-height: 84px;
        }

        .Subscription__list-item-opportunities {
            margin-bottom: 80px;
        }

    }

    &__list-item h3 {
        font-size: 24px;
        line-height: 24px;
        padding-top: 36px;
        padding-bottom: 36px;
        background-color: rgba(255, 255, 255, 0.15);
        margin-bottom: 36px;
    }

    &__list-item-type:nth-child(3) {
        background-color: rgba(0, 0, 0, 0.11)
    }


    &__list-item-price {
        font-size: 60px;
        line-height: 62px;
    }

    &__list-item-month {
        font-size: 14px;
        line-height: 16px;
        margin-top: 20px;
    }

    &__list-item-month::after {
        content: "";
        display: block;
        margin-top: 36px;
        margin-bottom: 30px;
        width: 60px;
        height: 5px;
        background: #8D81AC;
        position: relative;
        left: 38%;
    }

    &__list-item-opportunities {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 37px;
    }

    &__list-item-button {
        background-color: rgba(255, 255, 255, 0.15);
        border: none;
        padding: 15px 38px 14px 37px;
        border-radius: 15px;
        font-size: 15px;
        line-height: 15px;
        text-transform: uppercase;
        color: #ffff;
    }

    @media (min-width: 600px) {
        background: url("../img/Subscription/background.png") no-repeat center;
        background-size: cover;
        padding-top: 90px;

        &__title {
            font-size: 42px;
            line-height: 44px;
        }

        &__list {
            grid-template-columns: repeat(2, minmax(200px, 300px));
            align-items: center;
            gap: 30px 25px;
            display: inline-grid;
        }

        &__list-item {
            margin-left: 0;
            margin-right: 0;
        }

        &__list-item:nth-child(1) {
            justify-self: end;
        }

        &__list-item:nth-child(3) {
            max-width: 100%;
        }


    }

    @media (min-width: 1200px) {
        .editor__title {
            font-size: 54px;
            line-height: 54px;
        }

        padding-top: 112px;

        &__title {
            font-size: 48px;
            line-height: 50px;
            margin-bottom: 61px;
        }

        &__list {
            grid-template-columns: 257px 257px 300px 257px;
            gap: 15px;
            justify-content: center;
            align-content: center;
        }
    }

}